* {
    margin: 0;
    padding: 0;
  }


body {
  margin: 0;
  font-family: "Afacad Flux", sans-serif;
  background-color: #ffffff;
}

.n1 {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  background: white;
  text-align: center;
}

.titulos h1 {
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 16px;
}

.titulos p {
  color: #474747;
  font-size: 16px;
  max-width: 600px;
  margin: 0 auto 24px auto;
}

.titulos button {
  background: #131313;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 8px;
}

.imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}


.imagenes img {
  width: 200px;
  height: 160px;
  border-radius: 8px;