* {
   
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Afacad Flux", sans-serif;
    background-color: #ffffff;
    color: #000000;
    padding: 60px 40px;
  }

  .divi {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin:  80px auto;
    
  }


  .textoizq h1 {
    font-size: 94px;
   
  }

  .textoder {
    max-width: 500px;
    margin-top: 12px;
  }

  .textoder p{
    font-size: 20px;
    color: #363636;
    margin-bottom: 28px;
  }

  .boton {
    background-color: #1f1e1e;
    color: #fff;
    padding: 14px 28px;
    font-size: 18px;
    border-radius: 900px;
    
  }

  .boton:hover {
    background-color: #000000;
  }

  .imagen {
    max-width: 1400px;
    margin: auto;
  }

  .imagen img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    
  }