body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

.seccion {
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  background-color: #fff;
}

.seccion h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 40px;
  
}

.container {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.tarjetas {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
}

.tarjetas h2 {
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
}

.tarjetas p {
  font-size: 16px;
  margin-bottom: 20px;
}

.tarjetas img {
  width: 100%;
  height: 50%;
  display: block;
  border-radius: 4px;
}